@use "../utilities/media-query";

.admin-section {
  padding: 8rem 0;
  &__team {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 3rem;
    @include media-query.mediaQuery(viewport800) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__card {
    width: 100%;
  }
  &__team-picture {
    width: 100%;
  }
}
