$color-group-1a: #044d0e;
$color-group-1b: #15c249;
$color-group-1c: #2fdd55;
$color-group-1d: #efede4;
$color-group-1e: #e7e4f0;
$color-group-1f: #9fee38;

$color-group-2a: #c94a1c;
$color-group-2b: #f57446;
$color-group-2c: #ffa382;
$color-group-2d: #fc9c4e;
$color-group-2e: #fdb65a;
$color-group-2f: #4e2415;

$color-group-3a: #333333;
$color-group-3b: #555555;
$color-group-3c: #767676;
$color-group-3d: #888888;
$color-group-3e: #dddddd;
$color-group-3f: #6f6f6f;
$color-group-3g: #aaa;
$color-group-3h: #eee;

$color-black: #000000;
$color-white: #ffffff;
