@use "../utilities/media-query";
@use "../utilities/color";

.section-pricing {
  padding: 9.6rem 0;
  background-color: color.$color-white;
  &__container {
    //padding: 0 3.2rem;
    @include media-query.mediaQuery(viewport1350) {
      max-width: 120rem;
    }
  }
  &__plan {
    border-radius: 11px;
    width: 75%;
    @include media-query.mediaQuery(viewport1350) {
      width: 100%;
    }
  }
  &__header {
    // border: 2px solid red;
  }
  &__plan-starter {
    justify-self: end;
    border: 2px solid color.$color-group-1d;
    padding: 4.6rem;
  }
  &__box {
    margin-top: 9.6rem;
    // border: 2px solid red;
  }
  &__plan-complete {
    background-color: color.$color-group-1d;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
    &::after {
      content: "Best value";
      position: absolute;
      top: 6%;
      right: -18%;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      color: color.$color-group-3a;
      background-color: color.$color-group-2c;
      padding: 0.8rem 8rem;
      transform: rotate(45deg);
    }
  }
  &__plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
  }
  &__plan-name {
    color: color.$color-group-1b;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
  }
  &__plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: color.$color-group-3a;
    margin-bottom: 1.6rem;
    & span {
      font-size: 3rem;
      font-weight: 500;
      margin-right: 0.8rem;
    }
  }
  &__plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: color.$color-group-3f;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
  }
  &__list-icon {
    width: 3rem;
    height: 3rem;
    color: color.$color-group-1c;
  }
  &__sign-up {
    text-align: center;
    margin-top: 4.8rem;
  }
  &__plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 4rem;
  }
}
