@use "../utilities/color";

.list {
  &__primary {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &-item {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      line-height: 1.2;
    }
    &-list-icon {
      width: 3rem;
      height: 3rem;
      color: color.$color-group-1c;
    }
  }
}
